body {
    margin: 5px 100px 3px;
    /* justify-content: end; */
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

#botao_add{
    margin-top: 50px;
    flex-direction: column;
}

#coluna_botao{
    
display: flex;
flex-direction: column;
width: 22%;
height: 57px;

background-color: #ffffff;
border-radius: 15px;

font-family: 'Inter', sans-serif;
font-size: 20px;
padding: 17px 56px;
border: none;

}

.fa-regular{
    position: absolute;
    /* margin-right: 45px; */
    margin-right: 110px;

    color: #f6f6f6;

}






/* ALTERAR COR DO BACKGROUND */
#background {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    background-color: #f6f6f6;
    /* Cor de fundo do botão */
    width: 60px;
    height: 60px;
    border: none ;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: -290px;

    
}

#background:hover{
    
    
    background-color: #f5f5dc;
    /* Cor de fundo do botão */
    border: none;
    margin-bottom: 20px;
    border-bottom: #1d1c1c;

}


#color-menu-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin-left: 900px;
    margin-top: -315px;
   
   
}





/* BOTOES */
.cor-botao {

    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Espaçamento entre os botões */
    transition: all 0.1s ease;
    /* Transição suave para a animação hover */
    margin-bottom: 10px;
    margin-left: 258px;
    
}

.cor-botao:hover {
    border: 1px double;
    box-shadow: inset 0 0 20px #ffffff94, 0 0 20px #ffffff25;
    width: 51px;
    height: 51px;
    

}

.roxo {
    background-color: #6D377D;
}

.amarelo {
    background-color: #E6C643;
}

.rosa {
    background-color: #B0194E;
}

.vermelho {
    background-color: #E64A43;
}

.verde {
    background-color: #09E397;
}

.azula {
    background-color: #376F7D;
}

.azulb {
    background-color: #1992b2;

    }


    #columns{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 600px;
        background-color: #f6f6f6;
        margin-top: 3%;
        border-radius: 10px;
        max-height: max-content;
        
    }

    #afazer{
    display: flex;
    color: #ffffff;
    align-items: center; 
    justify-content: center;
    max-height: max-content;
    background-color: #3A948E;
    font-size: 20px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin-top: -2%

    }

    #title{
        display: flex;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    #input_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        border-width: 1px;
    
    }

    #area_descricao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        max-width: max-content;
        max-height: 350px;
        border-radius: 10px;
    }

    #botao_add{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 30px;
        background-color: #3A948E;
        color: #ffffff;
        border-radius: 10px;
        justify-content: center;
        border: none;
        margin-left: 25%;
        cursor: pointer;

    
    }

    #botao_add:hover{
        background-color: #2c6f6b;
    }
  
    

    #descricao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }